.well.well-small
  .pull-right{ :'data-position' => 'bottom', :'data-intro' => 'Reset the filter settings to defaults.' }
    = link_to "Reset filters", reset_filterrific_url, :class => 'btn btn-default btn-sm'
  .chardin_box{ :'data-position' => 'bottom', :'data-intro' => "will_paginate's entries info works as expected." }
    = page_entries_info users, :model => 'user'
  .chardin_box{ :'data-position' => 'bottom', :'data-intro' => 'Spinner indicates update.' }
    = render_filterrific_spinner

%table.table
  %tr
    %th Firstname
    %th Lastname
    %th Registered at
    %th
  - users.each do |user|
    %tr
      %td= user.firstname
      %td= user.lastname
      %td= user.created_at.to_date.to_s(:long)
      %td
        =link_to alumni_path(user) do
          Show profile
.chardin_box{ :'data-position' => 'top', :'data-intro' => "will_paginate's paginator works as expected." }
  = will_paginate users, :renderer => BootstrapPagination::Rails
