!!!
%html
  %head
    %title
      = full_title(yield(:title))
    %script(src="https://www.gstatic.com/charts/loader.js")
    %script(src="https://www.google.com/jsapi")
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render :partial => 'shared/menu'
    .container
      =yield
